# ephemeral python files
__pycache__
.venv
*.pyc

# package install files
build/
dist/
*.egg-info

# logging
*.log
*log.txt

# model checkpoints
*.model

# docs
docs_build/
docs/reference/torch_sim.*

# ipynb files
*.ipynb

# ignore trajectory files
*.h5
*.h5md
*.hdf5
*.traj

# coverage
coverage.xml
.coverage*

# test cache (compiled models, etc.)
tests/.cache/

# env
uv.lock

# IDE
.vscode/
